/* .input-area {
  background-color: rgb(192, 241, 225); 
  border-color: rgb(192, 241, 225);
  border-width: 5px;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 9px;
}

.incomplete-area {
  background-color: rgb(192, 241, 225);
  border-color: rgb(192, 241, 225);
  border-width: 5px;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 9px;
}
 */
